{% extends 'base.html.j2' %}
    
{% block body %}
<p>Please select the IDP:</p>

<form action="start" method="get">
    <select name="idp">
        {% for name, data in idp_configs.items() %}
            <option value="{{ name }}">{{ name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Go!">
</form>
    
{% endblock %}
